<div class="page-header">
  <%= link_to canteen_menus_path(@canteen), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Editing menu</h1>
</div>

<%= render 'form' %>
