.fields.menu-fields {
	@extend .form-inline;
	.form-group {
		max-width: 30%;
		margin: 0 5px;
	}
	margin: 5px 0;
}

.menu-item-select, .ingredient-select {
	width: 300px;
}

.dishes {
  .dish-type {
    font-size: 1.2em;
  }
  .dish-name {
    font-size: 2em;
    .label {
      font-size: .7em;
    }
  }
}